<h1 style="property:value;color:Coral;font-size:300%;text-align:center; ">CISC-873-DM-F22-A2</h1> 
<h3 style="property:value;color:Coral;font-size:200%;text-align:center; ">Speed Dating Match Prediction</h3> 
<h5 style="property:value;color:Sienna;font-size:150%; ">Kariman Karm Mohamed Mousaa </h5>

#### 1- Define the problem. What is the input? What is the output? What data mining function is required? What could be the challenges? What is the impact? What is an ideal solution?
ans:
* problem:we are going to predict the outcome of a specific speed dating session based on the profile of two people and their information.
* input:for train process 192 columns  191 training and 1 target values (match).
* output:y_hat for Match, we will prediction if the two person  will match or not.
* data mining function: Classification
* the challenges: feature selection choise the feature.
* the impact: there many steps for cleaning and ideas 
* an ideal solution: drop all column have many null values.
----------------------------------------------------------------------------
#### 2- Why a simple linear regression model (without any activation function) is not good for classification task, compared to Perceptron/Logistic regression?
ans: 
* a simple linear regression model (without any activation function) is not good for classification task:
  - Linear Regression deals with continuous values whereas classification problems mandate discrete values.
  - it is regarding the shift in threshold value when new data points are added.
* Perceptron/Logistic regression:They're both applying regression by estimating the parameters of the same logistic-transformed model. According to the properties of convex functions, the values of the parameters will be the same any way you choose to estimate them but 
  - Logistic regression models a function of the mean of a Bernoulli distribution as a linear equation (the mean being equal to the probability p of a Bernoulli event). By using the logit link as a function of the mean (p), the logarithm of the odds (log-odds) can be derived analytically and used as the response of a so-called generalised linear model. On top of prediction, this allows to interpret the model in causal inference. This is something that you cannot achieve with a linear Perceptron.
  - The Perceptron, takes the inverse logit (logistic) function of wx, and doesn't use probabilistic assumptions for neither the model nor its parameter. Online training will give exactly the same estimates for the model weights/parameters, but we won't be able to interpret them in causal inference due to the lack of p-values, confidence intervals, and well, an underlying probability model.
---------------------------------------------------------------------------------
#### 3- What's a decision tree and how it is different to a logistic regression model?
ans:
* a decision tree:it is a type of supervised machine learning used to categorize or make predictions based on how a previous set of questions were answered. 
* Decision Boundaries:Decision Trees bisect the space into smaller and smaller regions, whereas Logistic Regression fits a single line to divide the space exactly into two.
----------------------------------------------------------------------------
#### 4- What's the difference between grid search and random search?
ans 
* In Grid Search, we try every combination of a preset list of values of the hyper-parameters and choose the best combination based on the cross validation score.
* Random search tries random combinations of a range of values (we have to define the number iterations). It is good in testing a wide range of values and normally it reaches a very good combination very fast, but the problem that it doesn’t guarantee to give the best parameters combination.
--------------------------------------------------------------------------------
#### 5- What's the difference between bayesian search and random search?
ans:
* Bayesian optimization is a sequential model-based optimization (SMBO) algorithm that uses the results from the previous iteration to decide the next hyperparameter value candidates.it creates a probabilistic model, mapping hyperparameters to a probability of a score on the objective function. For more mathematical details.
*  Random search tries random combinations of a range of values (we have to define the number iterations). It is good in testing a wide range of values and normally it reaches a very good combination very fast, but the problem that it doesn’t guarantee to give the best parameters combination.

### Import Libararies and Loading data

In [139]:
#Import Libararies
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [140]:
#load data 
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
#variable or id from test
v=test['id']
#trail 8,9,10,11 drop id from train and test
train.drop('id',axis=1,inplace=True)
test.drop('id',axis=1,inplace=True)
train.head(10)

,gender,idg,condtn,wave,round,position,positin1,order,partner,pid,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,0,3,2,14,18,2,2.0,14,12,372.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,14,1,3,10,2,NaN,8,8,63.0,...,6.0,8.0,8.0,7.0,8.0,NaN,NaN,NaN,NaN,NaN
2,1,14,1,13,10,8,8.0,10,10,331.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,38,2,9,20,18,13.0,6,7,200.0,...,8.0,9.0,8.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN
4,1,24,2,14,20,6,6.0,20,17,357.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0,3,2,14,18,2,2.0,18,8,368.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,6,2,9,20,17,16.0,2,11,204.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0,7,2,4,18,15,NaN,1,1,94.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0,29,2,11,21,10,10.0,3,6,278.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0,7,2,11,21,13,13.0,15,11,283.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Exploring data  and Cleaning

In [141]:
#information about train data 
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5909 entries, 0 to 5908
Columns: 191 entries, gender to amb5_3
dtypes: float64(173), int64(10), object(8)
memory usage: 8.6+ MB

In [142]:
#shape of data
train.shape

(5909, 191)

In [143]:
#count the number of null in envery class
train.isnull().sum()

gender         0
idg            0
condtn         0
wave           0
round          0
            ...
attr5_3     4496
sinc5_3     4496
intel5_3    4496
fun5_3      4496
amb5_3      4496
Length: 191, dtype: int64

In [144]:
#copy train data to keep our data
df=train.copy()

In [145]:
#get list of columns, list of numerical columns and  categorical columns
cols = df.columns
num_cols = df._get_numeric_data().columns
categorical_cols=[]
for i in cols:
    if i not in num_cols:
        categorical_cols.append(i)
        
print(categorical_cols)

['field', 'undergra', 'mn_sat', 'tuition', 'from', 'zipcode', 'income', 'career']

### Preprocessing for Categorical data

In [93]:
# information about categorial data 
df[categorical_cols].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5909 entries, 0 to 5908
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   field     5864 non-null   object
 1   undergra  3467 non-null   object
 2   mn_sat    2235 non-null   object
 3   tuition   2544 non-null   object
 4   from      5851 non-null   object
 5   zipcode   5189 non-null   object
 6   income    3047 non-null   object
 7   career    5845 non-null   object
dtypes: object(8)
memory usage: 369.4+ KB

In [146]:
#count the null values in categorical data
df[categorical_cols].isnull().sum()

field         45
undergra    2442
mn_sat      3674
tuition     3365
from          58
zipcode      720
income      2862
career        64
dtype: int64

In [147]:
# drop all columns have null values bigger than 2000
df.drop(['undergra','mn_sat','tuition','income'],axis=1,inplace=True)
test.drop(['undergra','mn_sat','tuition','income'],axis=1,inplace=True)
#Replace the missing values with the most frequent values present in each categorical column
df[['field','from','zipcode','career']]=df[['field','from','zipcode','career']].fillna(df[['field','from','zipcode','career']].mode().iloc[0])
test[['field','from','zipcode','career']]=test[['field','from','zipcode','career']].fillna(test[['field','from','zipcode','career']].mode().iloc[0])

In [148]:
df['zipcode'].value_counts()

0          964
10,021      94
10,027      88
10,025      77
10,012      31
          ...
560,032      3
20,854       3
10,803       2
11,020       2
20,853       2
Name: zipcode, Length: 409, dtype: int64

In [149]:
#get duplicated in our data 
df[['field','from','zipcode','career']].duplicated()
test[['field','from','zipcode','career']].duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2464     True
2465     True
2466     True
2467     True
2468     True
Length: 2469, dtype: bool

In [150]:
#trail 8 ,9,10,11
# drop duplicated in categorical data 
df[['field','from','zipcode','career']]=df[['field','from','zipcode','career']].drop_duplicates()
test[['field','from','zipcode','career']]=test[['field','from','zipcode','career']].drop_duplicates()

In [151]:
#convert categorical to numerical by label encoder 
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for i in ['field','from','zipcode','career']:
    df[i]=le.fit_transform(df[i])
    test[i]=le.fit_transform(test[i])
df[['field','from','zipcode','career']]

      field  from  zipcode  career
0        63   158        0     232
1        75    25      131      80
2       206    21        0     193
3       106   233       35     332
4        23   123      269     360
...     ...   ...      ...     ...
5904    259   269      409     367
5905    259   269      409     367
5906    259   269      409     367
5907    259   269      409     367
5908    259   269      409     367

[5909 rows x 4 columns]

### Preprocessing for Numerical data

In [152]:
#describe train data
df[num_cols].describe()

,gender,idg,condtn,wave,round,position,positin1,order,partner,pid,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
count,5909.000000,5909.000000,5909.000000,5909.000000,5909.000000,5909.000000,4591.000000,5909.00000,5909.000000,5901.000000,...,2804.000000,2804.000000,2804.000000,2804.000000,2804.000000,1413.000000,1413.000000,1413.000000,1413.000000,1413.000000
mean,0.505331,17.360298,1.824843,11.347436,16.850228,9.001523,9.254846,8.91166,8.962938,283.733266,...,7.241797,8.105563,8.377318,7.644437,7.398716,6.799717,7.631989,7.944798,7.162774,7.092711
std,0.500014,10.947542,0.380133,6.011495,4.389246,5.482368,5.611803,5.45710,5.500706,158.993002,...,1.593787,1.601011,1.459013,1.757559,1.956924,1.535768,1.498024,1.320919,1.687431,1.713729
min,0.000000,1.000000,1.000000,1.000000,5.000000,1.000000,1.000000,1.00000,1.000000,1.000000,...,2.000000,2.000000,3.000000,2.000000,1.000000,2.000000,2.000000,4.000000,1.000000,1.000000
25%,0.000000,8.000000,2.000000,7.000000,14.000000,4.000000,4.000000,4.00000,4.000000,153.000000,...,7.000000,7.000000,8.000000,7.000000,6.000000,6.000000,7.000000,7.000000,6.000000,6.000000
50%,1.000000,16.000000,2.000000,11.000000,18.000000,8.000000,9.000000,8.00000,8.000000,280.000000,...,7.000000,8.000000,8.000000,8.000000,8.000000,7.000000,8.000000,8.000000,7.000000,7.000000
75%,1.000000,26.000000,2.000000,15.000000,20.000000,13.000000,14.000000,13.00000,13.000000,409.000000,...,8.000000,9.000000,9.000000,9.000000,9.000000,8.000000,9.000000,9.000000,8.000000,8.000000
max,1.000000,44.000000,2.000000,21.000000,22.000000,22.000000,22.000000,22.00000,22.000000,552.000000,...,12.000000,12.000000,12.000000,12.000000,12.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [153]:
#get correlation of all data
df[num_cols].corr()

,gender,idg,condtn,wave,round,position,positin1,order,partner,pid,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
gender,1.000000,0.032132,-0.000875,-0.004192,0.017755,-0.004047,0.000410,0.009850,0.010318,-0.056275,...,-0.150992,-0.169387,0.011476,-0.153701,-0.066626,-0.133302,-0.277085,0.080227,-0.065562,0.069091
idg,0.032132,1.000000,0.330587,0.093823,0.391918,0.164705,0.174651,0.161976,0.139034,0.088372,...,0.011633,-0.050350,-0.060674,-0.041080,-0.005502,0.001764,-0.018915,-0.093206,-0.061079,-0.145645
condtn,-0.000875,0.330587,1.000000,0.219735,0.820898,0.331013,0.306722,0.331402,0.322467,0.218009,...,0.087388,0.044158,0.061796,0.069298,0.027447,0.077571,-0.087502,0.051449,0.106486,0.123314
wave,-0.004192,0.093823,0.219735,1.000000,0.228917,0.079820,0.061166,0.093478,0.087904,0.996714,...,-0.001678,0.036948,-0.104562,0.053971,0.000520,0.092556,-0.001751,0.014611,0.088716,0.047841
round,0.017755,0.391918,0.820898,0.228917,1.000000,0.380632,0.368352,0.397952,0.390320,0.218901,...,0.094818,0.036600,0.022696,0.059530,0.013107,0.034647,-0.035242,-0.012896,0.104829,0.092951
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
attr5_3,-0.133302,0.001764,0.077571,0.092556,0.034647,0.066300,0.201598,0.018610,0.002868,0.108400,...,0.858673,0.174329,0.421117,0.410789,0.235485,1.000000,0.190198,0.355876,0.412403,0.194078
sinc5_3,-0.277085,-0.018915,-0.087502,-0.001751,-0.035242,0.111991,0.125594,-0.035897,-0.002601,0.021372,...,0.224796,0.608213,0.315857,0.180240,0.122856,0.190198,1.000000,0.498313,0.335823,0.261307
intel5_3,0.080227,-0.093206,0.051449,0.014611,-0.012896,0.089283,0.106791,-0.004632,0.003345,0.009585,...,0.335831,0.288062,0.683871,0.240322,0.268646,0.355876,0.498313,1.000000,0.262987,0.422743
fun5_3,-0.065562,-0.061079,0.106486,0.088716,0.104829,0.135484,0.232412,0.016419,0.031795,0.096788,...,0.394979,0.160204,0.295997,0.771447,0.331533,0.412403,0.335823,0.262987,1.000000,0.379768
amb5_3,0.069091,-0.145645,0.123314,0.047841,0.092951,0.058825,0.030543,0.029174,0.050511,0.043115,...,0.194495,0.135499,0.353093,0.429332,0.619087,0.194078,0.261307,0.422743,0.379768,1.000000

In [154]:
#Get unique values in gender
np.unique(df['gender'])

array([0, 1], dtype=int64)

In [155]:
#remove the columns that remove from list of columns
cols=list(cols)
for i in ['undergra', 'mn_sat', 'tuition', 'income']:
    cols.remove(i)

In [156]:
#count of null values
df[cols].isnull().sum()

gender         0
idg            0
condtn         0
wave           0
round          0
            ...
attr5_3     4496
sinc5_3     4496
intel5_3    4496
fun5_3      4496
amb5_3      4496
Length: 187, dtype: int64

In [158]:
# with trail 1,2,3,4,5,6,7,8,9,10,11 we drop columns that have more than or equal 60% null values
df=df.dropna(thresh=df.shape[0]*0.6,how='all',axis=1)
test=test.dropna(thresh=test.shape[0]*0.6,how='all',axis=1)

In [159]:
# trail 1,2,3,4,5,6,7 new shape for our data 
df.shape

(5909, 120)

In [160]:
#Replace the missing values with the most frequent values present in each column
df=df.fillna(df.mode().iloc[0])
test=test.fillna(df.mode().iloc[0])
df.isnull().sum()

gender      0
idg         0
condtn      0
wave        0
round       0
           ..
attr3_2     0
sinc3_2     0
intel3_2    0
fun3_2      0
amb3_2      0
Length: 120, dtype: int64

### Modeling

In [161]:
#split data to x,y
x=df.drop('match',axis=1)
y=df['match']

In [109]:
'''#with trail 1,2,3,4,5,6,7 we used Normalizing and selecting data
from sklearn.preprocessing import StandardScaler
t = preprocessing.normalize(x)
tst=preprocessing.normalize(test)
names = x.columns.values.tolist()
x = pd.DataFrame(t, columns = names)
tst = StandardScaler().fit_transform(tst)'''

'#with trail 1,2,3,4,5,6,7 we used Normalizing and selecting data\nfrom sklearn.preprocessing import StandardScaler\nt = preprocessing.normalize(x)\ntst=preprocessing.normalize(test)\nnames = x.columns.values.tolist()\nx = pd.DataFrame(t, columns = names)\ntst = StandardScaler().fit_transform(tst)'

In [162]:
#trail 8,9,10,11 we used StandardScaler without normalization:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x = scaler.fit_transform(x)
#for test
test=scaler.fit_transform(test)

#### LogisticRegression   modeling

In [163]:
# import library for split 
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression  
from sklearn.metrics import accuracy_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn import metrics
#split data to train and validation and test 80,20,20 in orders
X_both, X_test, y_both, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)
X_train, X_val, y_train, y_val = train_test_split(X_both, y_both, test_size = 0.2, random_state = 42)

In [112]:
#trail9
# trial2: DEFINE PARAMETER c take values logspace(-3,3,7) and penalty l1 lasso l2 ridge
grid={"C":np.logspace(-3,3,20), "penalty":["l1","l2"],'solver': ['newton-cg', 'lbfgs', 'liblinear']}
#define MODEL
logreg=LogisticRegression()
# trial 2:define evaluation  10 folds and three repeats.
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
#trial 2:define Grid search
grid_search=GridSearchCV(logreg,grid,cv=cv)
# execute search
grid_search.fit(X_train,y_train)
# predict the model
y_pred = grid_search.predict(X_val)
print("train accuracy: ",accuracy_score(y_val, y_pred))

train accuracy:  0.846723044397463

In [117]:
submission = pd.DataFrame()
submission['id'] =v
submission['match'] = grid_search.predict_proba(test)[:,1]
submission.to_csv('sample_submission_walkthrough.csv', index=False)

In [29]:
# trial 3
from sklearn.model_selection import RandomizedSearchCV
#define MODEL
model = LogisticRegression()
# trial 3:define evaluation  10 folds and three repeats.
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
# trial 3: DEFINE PARAMETER c take values logspace(-3,3,7) and penalty l1 lasso l2 ridge
space = dict()
space['solver'] = ['newton-cg', 'lbfgs', 'liblinear']
space['penalty'] = ['none', 'l1', 'l2', 'elasticnet']
space['C']=np.logspace(-3,3,7)
#define Random search with number of iteration 500 and random state 1
search = RandomizedSearchCV(model, space, n_iter=500, scoring='accuracy', n_jobs=-1, cv=cv, random_state=1)
# execute search
result = search.fit(X_train,y_train)
# predict the model
y_pred = result.predict(X_val)
print("train accuracy: ",accuracy_score(y_val, y_pred))

train accuracy:  0.8382663847780126

In [30]:
submission = pd.DataFrame()
submission['id'] =test['id']
submission['match'] = result.predict_proba(test)[:,1]
submission.to_csv('sample_submission_walkthrough1.csv', index=False)

In [31]:
#pip install scikit-optimize

In [32]:
# trial 1
from skopt import BayesSearchCV
#define MODEL
model = LogisticRegression()
# define evaluation  10 folds and three repeats.
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=42)
# trial 1: DEFINE PARAMETER c take values logspace(-3,3,7) and penalty l1 lasso l2 ridge
space = dict()
space['solver'] = ['newton-cg', 'lbfgs', 'liblinear']
space['penalty'] = ['l2']
space['C']=np.logspace(-3,3,7)
## trial 1: define Bayes search with space an number of job2=-1
search = BayesSearchCV(model, search_spaces=space, n_jobs=-1, cv=cv)
# execute search
result = search.fit(X_train,y_train)
# predict the model
y_pred = result.predict(X_val)
print("train accuracy: ",accuracy_score(y_val, y_pred))

train accuracy:  0.8298097251585623

In [33]:
submission = pd.DataFrame()
submission['id'] =test['id']
submission['match'] = result.predict_proba(test)[:,1]
submission.to_csv('sample_submission_walkthrough2.csv', index=False)

### Decision Tree model

In [114]:
# trial 4,8
from sklearn.tree import DecisionTreeClassifier
#define MODEL with random_state=0
dtree= DecisionTreeClassifier(random_state=0)
# execute search
dtree.fit(X_train,y_train)
# predict the model
y_pred = dtree.predict(X_val)
print("train accuracy: ",accuracy_score(y_val, y_pred))

train accuracy:  0.7938689217758985

In [118]:
submission = pd.DataFrame()
submission['id'] =v
submission['match'] = dtree.predict_proba(test)[:,1]
submission.to_csv('sample_submission_walkthrough8.csv', index=False)

In [36]:
#trial 6
#we used dict for paramters(dtreeparam_grid) that have max_depth range from 1 to 20, 'max_features' range from 1 to 20 with 'random_state'=42 
dtreeparam_grid = {
    'max_depth': np.arange(1,20),
    'max_features': np.arange(1,20),
    'random_state': [42]
}
#used Grid Search with dtreeparam_grid and  25 folder
dtree_search = GridSearchCV(dtree, param_grid = dtreeparam_grid, refit = True, verbose = 1, cv=25)
# execute search
dtree_search.fit(X_train , y_train)
# predict the model
y_pred = dtree.predict(X_val)
print("train accuracy: ",accuracy_score(y_val, y_pred))

Fitting 25 folds for each of 361 candidates, totalling 9025 fits
train accuracy:  0.7695560253699789

In [37]:
submission = pd.DataFrame()
submission['id'] =test['id']
submission['match'] = dtree.predict_proba(test)[:,1]
submission.to_csv('sample_submission_walkthrough5.csv', index=False)

### Support Vector Machines  model

In [127]:
# trial 5,10
from sklearn.svm import SVC
#define MODEL 
svc = SVC(kernel="rbf",probability=True)
# execute search
svc.fit(X_train, y_train)
# predict the model
y_pred = svc.predict(X_val)
print("train accuracy: ",accuracy_score(y_val, y_pred))

train accuracy:  0.8498942917547568

In [ ]:
submission = pd.DataFrame()
submission['id'] =v
submission['match'] = svc.predict_proba(test)[:,1]
submission.to_csv('sample_submission_walkthrough9.csv', index=False)

In [ ]:
# trial 7
#we used dict for paramters(svcparam_grid) that have 'kernel' =['poly','rbf','sigmoid'], degree range from 1 to 20 ,C:range from 0 to 4, 'gamma'=['scale', 'auto']
svcparam_grid = {
    'kernel': ['poly','rbf','sigmoid'],
    'degree': np.arange(1,20),
    'random_state':[42],
    'C': np.arange(0,4),
    'gamma':['scale', 'auto']
}
#used Grid Search with svcparam_grid and  25 folder
svc_search = GridSearchCV(svc, param_grid = svcparam_grid, refit = True, verbose = 1, cv=25)
# execute search
svc_search.fit(X_train , y_train)
# predict the model
y_pred = svc.predict(X_val)
print("train accuracy: ",accuracy_score(y_val, y_pred))

Fitting 25 folds for each of 456 candidates, totalling 11400 fits

In [ ]:
submission = pd.DataFrame()
submission['id'] =test['id']
submission['match'] = svc_search.predict_proba(test)[:,1]
submission.to_csv('sample_submission_walkthrough6.csv', index=False)

### Random Forest Classifier

In [169]:
#trail 11 RandomForestClassifier with max_depth=30, random_state=20
from sklearn.ensemble import RandomForestClassifier
#define MODEL 
clf = RandomForestClassifier(max_depth=30, random_state=20)
# execute model
clf.fit(X_train, y_train)
# predict the model
y_pred = clf.predict(X_val)
print("train accuracy: ",accuracy_score(y_val, y_pred))

train accuracy:  0.854122621564482

In [170]:
submission = pd.DataFrame()
submission['id'] =v
submission['match'] = clf.predict_proba(test)[:,1]
submission.to_csv('sample_submission_walkthrough10.csv', index=False)

gender         0
idg            0
condtn         0
wave           0
round          0
            ...
attr5_3     1866
sinc5_3     1866
intel5_3    1866
fun5_3      1866
amb5_3      1866
Length: 190, dtype: int64